<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Developer Register Page</title>
</head>

<body>
<div layout:fragment="sub_header" th:insert="fragments/sub_header/about_sub_header :: sub_header"></div>

<div layout:fragment="content">
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" th:src="@{/resources/img/teemo/beemo.jpg}" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">TeemoDevs Developers</h6>
                <small>Since 2019</small>
            </div>
        </div>

        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/about/developers/register}"> Add Developers </a>
            <a class="btn btn-primary" href="#" th:href="@{/about/developers/edit}" th:classappend="${developerList.empty} ? 'disabled' : ''"> Edit Developers </a>
        </div>

        <!-- th:block : thymeleaf의 기능을 사용하기 위해 선언하는 예비 태그. 실제 태그가 만들어지지는 않는다 -->
        <!-- th:each : 반복문. spring controller부터 전달 받은 developerList 객체를 developer라는 이름으로 접근 -->
        <th:block th:each="developer : ${developerList}">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <!-- thymeleaf에서는 bean 객체의 property 네임을 통해 바로 접근할 수 있음. -->
                <!-- POJO 스타일을 준수했다면 ${developer.getNickname()} 과 같이 사용하여도 동일한 결과가 출력됨  -->
                <h6 th:text="${developer.nickname}" class="border-bottom border-gray pb-2 mb-0">developer nickname</h6>
                <div class="media text-muted pt-3">
                    <img th:src="@{/resources/img/developers/} + ${developer.imageURI}" width="300px" height="300px"/>
                </div>

                <th:block th:each="article : ${developer.articleList}">
                    <div class="media text-muted pt-3">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32">
                            <rect width="100%" height="100%" fill="#007bff"/>
                        </svg>
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong th:text="${article.subject}" class="text-gray-dark"></strong>
                            </div>
                            <th:block th:each="content : ${article.contents}">
                                <span th:text="${content}" class="d-block"></span>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
    </main>
</div>
</body>
</html>