<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Developer Main Page</title>
</head>

<body>
<div layout:fragment="sub_header" th:insert="fragments/sub_header/about_sub_header :: sub_header"></div>

<div layout:fragment="content">
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" th:src="@{/resources/img/teemo/beemo.jpg}" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">TeemoDevs Developers</h6>
                <small>Since 2019</small>
            </div>
        </div>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <a href="#" th:href="@{/about/developers/add}" class="btn btn-success">추가</a>
        </th:block>
        <!-- th:block : thymeleaf의 기능을 사용하기 위해 선언하는 예비 태그. 실제 태그가 만들어지지는 않는다 -->
        <!-- th:each : 반복문. spring controller부터 전달 받은 developerList 객체를 developer라는 이름으로 접근 -->
        <th:block th:each="developer : ${developerList}">
            <!-- 개발자 입력 폼 -->
            <div class="my-3 p-3 bg-white rounded shadow-sm developer">
                <th:block sec:authorize="hasAuthority('ADMIN')">
                        <a href="#" class="btn btn-danger" th:onclick="'javascript:deleteDeveloper(' + ${developer.id} + ');'">삭제</a>
                </th:block>
                <!-- thymeleaf에서는 bean 객체의 property 네임을 통해 바로 접근할 수 있음. -->
                <!-- POJO 스타일을 준수했다면 ${developer.getNickname()} 과 같이 사용하여도 동일한 결과가 출력됨  -->
                <!-- 개발자 이름 헤더 -->
                <div class="developerHeader">
                    <h6 th:text="${developer.nickname}" class="border-bottom border-gray pb-2 mb-0 developerNickname">developer nickname</h6>
                    <h6 th:text="(${developer.name})" class="border-bottom border-gray pb-2 mb-0 developerName">developer name</h6>
                </div>
                <div class="media text-muted pt-3">
                    <img th:src="@{/resources/img/developers/} + ${developer.imageURI != null ? developer.imageURI : 'default.png'}" width="300px" height="300px" class="developerImageURI"/>
                </div>
                <th:block th:each="article : ${developer.articleList}">
                    <!-- 아티클 폼 -->
                    <div class="media text-muted pt-3 articleContainer">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32">
                            <rect width="100%" height="100%" fill="#007bff"></rect>
                        </svg>
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray article">
                            <div class="d-flex justify-content-between align-items-center w-100 articleSubject">
                                <strong th:text="${article.subject}" class="text-gray-dark articleSubjectText"></strong>
                            </div>
                            <th:block th:each="content : ${article.contents}">
                                <div class="articleContentContainer media mb-1">
                                    <span th:text="${content}" class="d-block articleContent"></span>    
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
    </main>

    <th:block sec:authorize="hasAuthority('ADMIN')">
        <script>
            function deleteDeveloper(developerId) {
                $.ajax({
                    url : '/client/about/developers/delete/' + developerId,
                    type : 'DELETE',
                    success : function() {
                        location.reload();
                    }
                });
            }
        </script>
    </th:block>
</div>
</body>
</html>