<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <link th:rel="stylesheet" th:href="@{/resources/css/offcanvas.css}"/>

    <link th:rel="stylesheet" th:href="@{/resources/css/headerCss.css}"/>
</head>

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Teemo Devs' Home Page</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projects}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/git}">Git</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>

            </ul>

            <!-- if(Principal.isAuthenticated()) -->
            <div sec:authorize="isAuthenticated()">
                <!-- Principal name -->
                Authenticated username:
                <span sec:authentication="name"></span>
                <span sec:authorize="hasAuthority('ADMIN')">(ADMIN)</span>
                <a id="logoutButton" class="btn btn-success" href="#" th:href="@{/logout}"> Logout </a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-success" href="#" th:href="@{/oauth2/authorization/teemo}"> Login </a>
            </div>
        </div>
    </nav>
</body>
</html>