<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <link th:rel="stylesheet" th:href="@{/resources/css/offcanvas.css}"/>
</head>

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Teemo Devs' Home Page</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projects}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/git}">Git</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>

            </ul>

            <!-- if(Principal.isAuthenticated()) -->
            <div sec:authorize="isAuthenticated()">
                Text visible only to authenticated users.

                <!-- Principal name -->
                Authenticated username:
                <div sec:authentication="name"></div>

                <!-- 로그인한 유저의 Role 출력 -->
                <div sec:authorize="hasRole('USER')">hasRole('USER')</div>
                <div sec:authorize="hasRole('ROLE_USER')">hasRole('ROLE_USER')</div>
                <div sec:authorize="hasRole('ADMIN')">hasRole('ADMIN')</div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">hasRole('ROLE_ADMIN')</div>

                <div sec:authorize="hasAuthority('USER')">hasAuthority('USER')</div>
                <div sec:authorize="hasAuthority('ROLE_USER')">hasAuthority('ROLE_USER')</div>
                <div sec:authorize="hasAuthority('ADMIN')">hasAuthority('ADMIN')</div>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">hasAuthority('ROLE_ADMIN')</div>

                <!-- 로그인한 유저의 authorities 출력 -->
                Authenticated user Authorities:
                <div sec:authentication="principal.authorities"></div>

                Authenticated user Roles:
                <!-- 없음 -->
                <!--<div sec:authentication="principal.roles"></div>-->
            </div>

            <!-- 인증되지 않은 사용자만 볼 수 있음 -->
            <div sec:authorize="!isAuthenticated()">Text visible only to
                unauthenticated users.
            </div>
        </div>
    </nav>
</body>
</html>