<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/resources/css/offcanvas.css}"/>
    <link th:rel="stylesheet" th:href="@{/resources/css/headerCss.css}"/>

    <!-- JQuery / Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <!-- ETC JS / CSS-->
    <script th:src="@{/resources/js/offcanvas.js}"></script>

</th:block>

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Teemo Devs' Home Page</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projects}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/git}">Git</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/community}">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>

            </ul>

            <div sec:authorize="isAuthenticated()">
                <!-- Principal name -->
                username:
                <span sec:authentication="name"></span>

                <!--
                    1. Thymeleaf의 sec:authentication은 org/thymeleaf/extras/springsecurity5/auth/AuthUtils.getAuthenticationProperty(final Authentication authentication, final String property) 메서드를 사용하여 넘겨받은 오브젝트로부터 값을 구한다.
                       이때 스프링 시큐리티의 Authentication 객체가 첫 번째 인자로 넘어가고, sec:authentication의 값으로 준 value인 'principal.email'이 두 번째 인자로 넘어간다.
                    2. 즉, sec:authentication은 이름에서 알 수 있듯이, Authentication 객체의 내용을 담은 Object 타입의 객체를 참조하고 있다.
                    3. 따라서 sec:authentication="name"은 자바코드로 Authentication.getName()이다. (Authentication 클래스는 Principal 인터페이스를 구현하며 여기에 getName() 메서드가 있음)
                    4. 따라서 sec:authentication="principal.XXX"는 자바코드로 Authentication.getPrincipal().getXXX()이다.
                    5. WebSecurityConfigurerAdapter를 상속하여 HttpSecurity 객체를 통해 커스터마이징하는 WebSecurityConfigurerAdapterImpl에서는 다음과 같은 설정을 했다.
                        - HttpSecurity.oauth2Login().userInfoEndpoint().customUserType() 메서드에서 CustomOAuth2User 타입의 객체를 커스텀 유저 타입으로 받게 만들었다.
                        - 이 CustomOAuth2User 타입의 객체는 HttpSecurity.oauth2Login().userInfoEndpoint().userService() 메서드에서 CustomOAuth2UserService 객체를 통해 받게 만들었다.
                    6. 따라서 SecurityContextHolder의 Authentication에는 CustomOAuth2User 타입에 대한 내용이 들어있다.
                    7. 밑의 내용을 자바코드로 치면 ((CustomOAuth2User)SecurityContextHolder.getContext().getAuthentication().getPrincipal()).getEmail()와 같다.
                -->
                email:
                <span sec:authentication="principal.email"></span>
                <span sec:authorize="hasAuthority('ADMIN')">(ADMIN)</span>
                <a id="logoutButton" class="btn btn-success" href="#" th:href="@{/logout}"> Logout </a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-success" href="#" th:href="@{/oauth2/authorization/teemo}"> Login </a>
            </div>
        </div>
    </nav>
</body>
</html>